.login-btn{
    background-color: #FF3811;
    border: none;
    color: #fff;
    font-size: 18px;
    padding: 10px;
}
.login-field{
    border: 1px solid #E5EAF4;
}
.google-login{
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    
}
.google-login-btn{
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    
}
