.available-text{
    border: 2px solid #eaeaea;
    border-radius: 30px;
}
.advertise-btn{
    border: none;
    background-color:#002147;
    padding: 10px 20px;
    color: #fff;
    font-size: 20px;
}