
.car-body{
    border: 1px solid #eaeaea;
}
.car-image img{
    height: 200px;
}
.price-section>p{
    font-size: 18px;
    text-transform: capitalize;
}
.resale-p{
    color: #FF3811;
}
.book-now-btn{
    background-color: rgb(53, 100, 255);
    border: none;
    font-size: 20px;
    color: #fff;
    padding: 10px 15px;
    margin: 5px;
}
.wishlist-btn{
    border: none;
    padding: 5px;
}



















